
*{
    font-family: Arial, Helvetica, sans-serif;
}
.log-btn{
    background: transparent;
    color: wheat;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 0.75em;
    float: left;
   
}

.log-btn:first-child{
    margin-left: 20%;
}

.sign-in{
    color: white;
    background: rgba(165,42,42,0.75);
   width: 300px;
    align-items: center;
    border-radius: 6px;
    /* z-index: 4; */
    box-shadow:1px 1px 4px rgba(0, 0,0, 0.1) ;
    position: absolute;;
    top:20%;
    right: 20%;
   padding: 10px;
    text-align: center;

}

    label {
        /* Uniform size & alignment */
        position: relative;
        display: inline-block;
        width: 50px;
      padding: 5px;
     
    }
    input{
        border: none;
    }
   

    /* .sign-in form ground: transparent;
    } */
    #submitbtn{
        background: transparent;
        padding: 4px 20px;
        color: white;
        margin: 10px;
        
    }
    
    