/* *{
    margin: 0;
    padding: 0;
} */
/* body{
    background-color: black;
    color: blanchedalmond;
} */
body{
    background-image: url(../imges/sanaa7.jpg);
    background-size: cover;
    background-position: bottom;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3,minmax(200px,auto));
    /* gap: 4px; */
    
}

.header{
    grid-area: 1/1/2/4;

}
.aside{
    grid-area: 2/1/3/2;
    background-color: wheat;
    border-radius: 6px;
    height: 100vh;
    margin: 30px 30px 30px 0px;
}
.main{
    grid-area: 2/2/3/4;
    position: relative;
    background-color: wheat;
    border-radius: 6px;
    height: 100vh;
    margin: 30px 15px 12px 30px;

}
.footer{
    grid-area: 3/1/4/4;
    background-color:#811D16 ;
}