/* *{
    margin: 0;
    padding: 0;
} */
/* body{
    background-color: black;
    color: blanchedalmond;
} */

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3,minmax(200px,auto));
  
}

.header{
    grid-area: 1/1/2/4;

}

.main{
    grid-area: 2/1/3/4;
    position: relative;
    background-image: url(../imges/sanaa7.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    position: relative;
}
.footer{
    grid-area: 3/1/4/4;
    background-color:#811D16 ;
}