
/* this stylings are from the following video toutrial 
https://youtu.be/sjrp1FEHnyA*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
   direction: rtl;
}
.mynav{
    margin-top: 2em;

   
}

a{
    color: #000;

}
.header{
    background-color: #AC271D;
    box-shadow:1px 1px 4px rgba(0, 0,0, 0.1) ;
     /*to anchor menue at the top*/
    /* position: fixed;   */
    width: 100%;
    z-index: 3;
    color: wheat;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #AC271D; /*set for later change*/
}

.header nav ul a{
   display:block; /*get the aplity to have margins and padding and can click any where in the row*/
   padding:20px ;
   outline: 1px solid  #811D16;
   border-right: 1px solid #811D16;
   text-decoration: none;
   color: wheat;
}

.header nav ul a:hover{
    background-color:#811D16 ;
}
.log-btn a{
    text-decoration: none;
    color: wheat;
}
.header .logo {
    /* float: right; */
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}

header nav .menu{
    /* clear: both; */
    max-height: 0;
    transition:  max-height .2s ease-out ;/*collaps animation*/
}

.header nav .menu-icon{
 
 padding: 28px 20px;
 position: relative;
 float: left;
 cursor: pointer;
}

.header nav .menu-icon .nav-icon{
    background:wheat ;
    display: block;
    height:2px ;
    width: 18px;
    position: relative;
    animation: background .2s  ease-out;
}

/* this folowing animation is for makeing anther line of icon */
.header nav .menu-icon .nav-icon:before{
    background-color:wheat ;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header nav .menu-icon .nav-icon:after{
    background-color:wheat ;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}
 
/* for wider screen */
.header nav .menu-btn{
    display: none;
}
/* expand highet when clicking */
.header nav .menu-btn:checked ~ .menu{
    max-height: 240px;
}
.header nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
}
.header nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform:rotate(-45deg) ;
    top: 0;
}
.header nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform:rotate(45deg) ;
    top: 0;
}

@media (min-width:48em){
    .header nav li {
        float: right;
    }
    .header nav li a{
        padding: 20px 30px;
    }
    .header nav .menu{
        /* clear: none; */
        float: left;
        max-height: none;
    }
    .header nav .menu-icon{
        display: none;
    }
}
#sanaa{
    max-width:20%;
}